## Popis dat

[←](3B_aktivity.md)  [→ další krok](../3B_aktivity_proces.md)

Při charakteristice dat se soustředíme na následující sadu činností:

- Základní popis dat
  - Průměr (mean)
  - Střední hodnota a odchylky
- Extrémy a anomálie
- Klasifikicace[^dta_cls] (distribuční křivka hodnot)

Základní popis dat v prgramovacím jazyce python
https://medium.com/@kasiarachuta/basic-statistics-in-pandas-dataframe-594208074f85
https://github.com/kasiarachuta/Blog/blob/master/Basic%20statistics%20on%20pandas%20DataFrame.ipynb


### Základní popis dat

Na prvním příkladu si ukážeme jakým zpsůobem mohou být záznamy validovány a identifikována jejich přesnost.

In [40]:
import pandas as pd

print("První dva řádky datovéhou souboru:")
df = pd.read_csv('../DATA/Fake/FakeNameGenerator.com_93dd768d.zip', compression='zip')
df.head(2)

První dva řádky datovéhou souboru:

,Number,Gender,NameSet,Title,GivenName,MiddleInitial,Surname,StreetAddress,City,State,...,Vehicle,Domain,BloodType,Pounds,Kilograms,FeetInches,Centimeters,GUID,Latitude,Longitude
0,1,female,Czech,Ms.,Nikola,J,Pátková,Rvačov 549,Roudnice nad Labem,US,...,2000 BMW 320,ChemicalPaper.cz,O+,152.5,69.3,"5' 1""",155,51f92586-6f42-4ca7-90eb-3a71099457b7,50.360150,14.205878
1,2,female,Czech,Mrs.,Jaroslava,F,Tomková,Nová 838,Strakonice 1,JC,...,2008 Holden Barina,HolisticAid.cz,O+,112.9,51.3,"5' 8""",172,b08ddb9c-1e22-4ac3-81e1-d7baca9c76f6,49.333683,13.950068

Přehled statistik nad datovým polem číselného typu.

In [55]:
pole = 'Centimeters'  # zde si můžeme zvolit libovolné pole

print(f"Rozsah souboru (počet prvků v souboru): {df[pole].count()} záznamů")
print(f"Aritmetický průměr (mean) výšek respondentů): {df[pole].mean()} cm")
print(f"Rozpětí výšek respondentů: (od {df[pole].min()} cm do {df[pole].max()} cm)")
print(f"Střední hodnota (median) výšek respondentů: {df[pole].median()} cm")
print(f"Nejvyšší četnost (mode) výšek respondentů: {df[pole].mode()[0]} cm")
print(f"Rozptyl (variance) výšek respondentů): {df[pole].var()} cm")
print(f"Standartní odchylka výšek responentů: {df[pole].std()} cm2")

Rozsah souboru (počet prvků v souboru): 3000 záznamů
Aritmetický průměr (mean) výšek respondentů): 169.37766666666667 cm
Rozpětí výšek respondentů: (od 150 cm do 190 cm)
Střední hodnota (median) výšek respondentů: 169.0 cm
Nejvyšší četnost (mode) výšek respondentů: 170 cm
Rozptyl (variance) výšek respondentů): 92.89399922196287 cm
Standartní odchylka výšek responentů: 9.63815330973537 cm2

### Extrémy a anomálie

tady bude nějaký popis

---

Poznámky:

[^dta_cls]: anglicky Data Classification, více viz [https://en.wikipedia.org/wiki/Data_classification_(business_intelligence)](https://en.wikipedia.org/wiki/Data_classification_(business_intelligence))